.home-page {
    .banner-top {
        height: 80vh;
        width: 100%;
        background:  url(/img/banner1-mob.png) no-repeat;
        background-size: cover;
    }
    @media (min-width: 567px) {
        .banner-top {
            height: fit-content;
                .btn {
                bottom: 50px;
                }
        }
    
    }
    @media (min-width: 981px) {
        .banner-top {
            height: 100vh;
            background:  url(/img/banner1.png) no-repeat;
            // background-size: cover;
                .btn {
            right: 0;
            margin-right: 0;
            margin-left: auto;
            transform: translateX(0);
            bottom: 50px;
            }
        }
    
    }   
}