@font-face {
    font-family: 'Nobel';
    src: url('Nobel-Light.eot');
    src: url('Nobel-Light.eot?#iefix') format('embedded-opentype'),
        url('Nobel-Light.woff2') format('woff2'),
        url('Nobel-Light.woff') format('woff'),
        url('Nobel-Light.ttf') format('truetype'),
        url('Nobel-Light.svg#Nobel-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

