@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8d59md');
  src:  url('fonts/icomoon.eot?8d59md#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8d59md') format('truetype'),
    url('fonts/icomoon.woff?8d59md') format('woff'),
    url('fonts/icomoon.svg?8d59md#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e906";
}
.icon-success:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-down-arrow:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e901";
}
.icon-smartphone-call:before {
  content: "\e902";
}
